#background-image{
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8)),url(about/birds.jpg);
    /* filter: grayscale(30%); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    height: 100%;
    position: relative;
}

#background-content{
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white;
    font-size: 3.8vh;
    line-height: 9vh; 
    text-shadow: 2px 2px grey;
}

.scroll-down{
    color: rgba(255, 255, 255, 0.7);
    font-size: 20px;
    text-align: center;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform 1s ease-out;
}

.scroll-down:hover{
    color: rgba(255, 255, 255, 1);
    transform: translate(-50%, 1%);
}

/*all-headings*/
#all-headings{
    padding: 100px 50px 100px 50px;
}

/* avatar */
.avatar-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* border: 1px solid black; */
}

.avatar-image{
    vertical-align: middle;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* headings */
#headings{
    display: block;
    text-align: center;
    font-size: 20px;
    /* border:1px solid black; */
}

/* contents */
#all-contents{
    padding: 100px;
    background-color: rgb(247, 230, 214);
    /* display: flex;
    flex-direction: column;
    justify-content: space-between; */
    /* spread contents evenly */
    /* height: 800px; */
}

.contents{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 80px;
    /* border: 1px solid black; */
}

#last-content{
    margin-bottom: 0;
}

.content-image{
    border-radius: 15px 50px; 
    /* round photos */
    width: 300px;
    height: 200px;
    max-width: 100%;   
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.content-info{
    margin-left: 60px;
    width: 500px;
    /* border: 1px solid black; */
}

.content-justify{
    text-align: justify;
}


@media only screen and (max-width:1100px) {
    /* #all-contents{
        height: auto;
    } */
    .contents{
        flex-direction: column;
        /* font-size: 20px; */
        margin-bottom: 80px;
    }
    .content-info{
        margin-left: 0;
        text-align: center;
        width: auto;
    }
    
    @media only screen and (max-width:500px) {
        #all-headings{
            padding: 60px 50px 60px 50px;
        }
        #all-contents{
            padding: 60px 50px 60px 50px;
        }
        .contents{
            margin-bottom: 60px;
        }
        .content-image{
            width: 100%;
            height: auto;
        }
    }
}    